{% extends "base.tmpl.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags pagination_tags thumbnail %}

{% block page_header %}
  <header class="press-content-header">
    <h2>{{ event.title }}</h2>
    <h4>{{ event.from_datetime | date:"l, F jS" }} from {{ event.from_datetime | date:"P" }} till {{ event.to_datetime | date:"P" }}</h4>
  </header>
{% endblock %}

{% block content %}

  <div class="press-content-body">

    <div class="event-detail-block">

      <div class="main-image-block">
        {% thumbnail event.main_image '738' as img %}
        <img src="{{  img.url }}" alt="" />
        {% endthumbnail %}
      </div>

      <div class="body-block">
        {% autoescape off %}
          {{ event.content }}
        {% endautoescape %}

        {% include 'social-share-buttons.tmpl.html' with share_url=current_url %}
      </div>

      <div class="contact-info-block">
        <h3>Contact Information</h3>

        {% include 'press_contacts/contact.tmpl.html' with contact=event.event_contact only %}

        {% if event.extra_contact_information %}
          <p>{{ event.extra_contact_information }}</p>
        {% endif %}

      </div>

    </div>

  </div>

  <div class="event-location-block">
    <h3>Location</h3>

    {% addtoblock "js" %}
    <script>
        // You can set control options to change the default position or style of many
        // of the map controls.

        //
        function initMap() {
            var latLngArr = '{{ event.location }}'.split(','),
                latLng = {
                    lat: parseFloat(latLngArr[0]),
                    lng: parseFloat(latLngArr[1])
                },
                map = new google.maps.Map(document.getElementById('location-map'), {
                    zoom: 14,
                    center: latLng,
                    scrollwheel: false,
                    draggable: false,
                    disableDefaultUI: true,
                }),
                marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    title: 'event location'
                });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    {% endaddtoblock %}

    <div class="event-location-map-block">
      <div class="inner" id="location-map"></div>

      <div class="event-location-overlay">
        <div class="event-location-address-block">
          <header class="block-header">
            <h4>{{ event.location_name }}</h4>
          </header>
          <div class="block-body">
            <div class="address-block">
              <address>
                <div class="address">
                  {{ event.address|linebreaksbr }}
                </div>
              </address>
            </div>

            <p><a href="https://maps.google.com/?q={{ event.address|urlencode }}" target="_blank">Get Directions</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="wrapper-8-col">
    <div class="pagination-row">
      {% show_prev_next base_url=base_url %}
    </div>
  </div>

{% endblock %}
