{% extends "base.tmpl.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags pagination_tags thumbnail %}

{% block page_header %}
  <header class="press-content-header">
    <h2>{{ event.title }}</h2>
    <h4>
      {% if not event.all_day and not event.is_single_day %}
        {% comment %}show date/time for both from and two dates{% endcomment %}
        {{ event.from_datetime | date:"l, F jS - P" }}
        through
        {{ event.to_datetime | date:"l, F jS - P" }}
      {% elif event.all_day and not event.is_single_day %}
        {% comment %}multi day, all day event. Show the date range but no times{% endcomment %}
        {{ event.from_datetime | date:"l, F jS" }}
        through
        {{ event.to_datetime | date:"l, F jS" }}
      {% elif not event.all_day and event.is_single_day %}
        {% comment %}show a single date and times{% endcomment %}
        {{ event.from_datetime | date:"l, F jS" }}
        from
        {{ event.from_datetime | date:"P" }}
        till
        {{ event.to_datetime | date:"P" }}
      {% else %}
        {% comment %}single day, all day event. Just show the date{% endcomment %}
        {{ event.from_datetime | date:"l, F jS" }}
      {% endif %}
    </h4>
  </header>
{% endblock %}

{% block content %}

  <div class="press-content-body">

    <div class="event-detail-block">

      <div class="main-image-block">
        {% thumbnail event.main_image '738' as img %}
        <img src="{{  img.url }}" alt="" />
        {% endthumbnail %}
      </div>

      <div class="body-block">
        {% autoescape off %}
          {{ event.content }}
        {% endautoescape %}

        {% include 'social-share-buttons.tmpl.html' with share_url=current_url %}
      </div>

      <div class="contact-info-block">
        <h3>Contact Information</h3>

        {% include 'press_contacts/contact.tmpl.html' with contact=event.event_contact only %}

        {% if event.extra_contact_information %}
          <div class="extra-information">
            <p>{{ event.extra_contact_information }}</p>
          </div>
        {% endif %}

      </div>

    </div>

  </div>

  <div class="event-location-block">
    <h3>Location</h3>

    {% addtoblock "js" %}
    <script>
        window.pageData.eventDetail = {
            latLngArray: '{{ event.location }}'.split(',')
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=timber.initEventMap" async defer></script>
    {% endaddtoblock %}

    <div class="event-location-map-block">
      <div class="inner" id="location-map"></div>

      <div class="event-location-overlay">
        <div class="event-location-address-block">
          <header class="block-header">
            <h4>{{ event.location_name }}</h4>
          </header>
          <div class="block-body">
            <div class="address-block">
              <address>
                <div class="address">
                  {{ event.address|linebreaksbr }}
                  <br />
                  <a href="https://maps.google.com/?daddr={{ event.address|urlencode }}" target="_blank">Get Directions</a>
                </div>
              </address>
            </div>
            {% if event.by_appointment_only %}
              <h5>By Appointment Only</h5>
              {% if event.appointment_only_info %}
                <p>{{ event.appointment_only_info }}</p>
              {% endif %}
            {% endif %}
            {% if event.has_location_hours %}
              <h5>Location Hours</h5>
              <p>
                {% for open_time in location_hours %}
                  <strong>{{ open_time.day }}:</strong> {{ open_time.from|date:'P' }} - {{ open_time.to }} <br />
                {% endfor %}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="wrapper-8-col">
    <div class="pagination-row">
      {% show_prev_next base_url=base_url %}
    </div>
  </div>

{% endblock %}
