{% load thumbnail %}
<div class="event-summary-block">
  <header class="header-block">
    <a href="{% url 'events:detail' event.slug %}">
      <h3>
        {{ event.title }}
        &dash;
        {% if not event.is_single_day and event.is_within_same_month %}
          {{ event.from_datetime | date:"N j" }}-{{ event.to_datetime | date:"j" }}
        {% else %}
          {{ event.from_datetime | date:"N j" }}
          till
          {{ event.to_datetime | date:"N j" }}
        {% endif %}
      </h3>
    </a>
  </header>
  <a href="{% url 'events:detail' event.slug %}">
    <div class="image-block">
      {% thumbnail event.main_image '736' as img %}
      <img src="{{  img.url }}" alt="" />
        {% endthumbnail %}
    </div>
  </a>
  <div class="body-block">
    <p>{{ event.excerpt }}</p>
    <p><a class="more-info-link" href="{% url 'events:detail' event.slug %}">More info</a></p>
  </div>
</div>
