/.sass-cache/
*.pyc
*~
*.db
/media/
/static/
/press_section/local_settings.py
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
