{% spaceless %}
  {% comment %}
  Loads the default values for the Open Graph tags
  Or uses the values passed using the "with" keyword
  Args: title, type, url, image
  {% endcomment %}
  {% load staticfiles static %}
{% endspaceless %}<!-- Required Open Graph Tags -->
<meta property="og:title" content="{% spaceless %}
                                   {% if title %}
                                   {{ title }}
                                   {% else %}
                                   {{ page_title }}
                                   {% endif %}
{% endspaceless %}">
<meta property="og:type" content="{% spaceless %}
                                  {% if type %}
                                  {{ type }}
                                  {% else %}
                                  website
                                  {% endif %}
{% endspaceless %}">
<meta property="og:url" content="{% spaceless %}
                                 {% if url %}
                                 {{ url }}
                                 {% else %}
                                 {{ request.build_absolute_uri }}
                                 {% endif %}
{% endspaceless %}">
<meta property="og:image" content="{% spaceless %}
                                   {% if image %}
                                   {{ image }}
                                   {% else %}
                                   {{ request.scheme }}://{{ request.get_host }}{% static "theia-logo.png" %}
                                   {% endif %}
{% endspaceless %}">
<meta property="og:site_name" content="THEIA">
