packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
  rubygems:
    sass: []
    
container_commands:
  # debugging commands

  # 01_check_path:
  #   command: "echo $PATH > /tmp/command-path"

  # 02_view_env:
  #   command: "printenv > /tmp/command-env"

  # 03_whoami:
  #   command: "whoami > /tmp/whoiam"

  10_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  20_create_admin:
    command: "python scripts/create_admin.py"
    leader_only: true

  30_collectstatic:
    command: "python manage.py collectstatic --noinput &> /tmp/collectstatic-output"

  40_compress:
    command: "source scripts/compress.sh"

  # 50_import_data:
  #   command: "source scripts/load_initial_data.sh"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: press_section/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: press_section.settings
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: SingleInstance
  - namespace: aws:elasticbeanstalk:managedactions:platformupdate
    option_name: UpdateLevel
    value: minor
  - namespace: aws:rds:dbinstance
    option_name: DBDeletionPolicy
    value: Snapshot
  - namespace: aws:rds:dbinstance
    option_name: DBInstanceClass
    value: db.t2.micro
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-2626c840
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-3371157a

