packages:
  yum:
    git: []
  rubygems:
    sass: []

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_create_admin:
    command: "python scripts/create_admin.py"
    leader_only: true

  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"

  # 04_compress:
  #   command: "django-admin.py compress --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: press_section/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: press_section.settings