{% load cms_tags compress staticfiles sekizai_tags menu_tags %}
<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <!-- html-head-common -->
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Title and description ================================================== -->
    <title>
      {% block title %}
        {% comment %}
        <!-- **TODO** for the title tag generator from the Shopify theme. -->
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        {% endcomment %}
      {% endblock title %}
    </title>

    {% comment %}
    <!-- **TODO** port this over -->
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% endcomment %}

    <!-- Product meta ================================================== -->
    {% comment %}
    <!-- **TODO** port these snippets to the press section from the Shopify templates. -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}
    {% endcomment %}

    <!-- Helpers ================================================== -->
    {% comment %}
    <!-- **TODO** -->
    <link rel="canonical" href="{{ canonical_url }}">
    {% endcomment %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS ================================================== -->
    {% render_block "css" %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base.css" />
    {% endcompress %}

    <link rel="shortcut icon" href="{% static 'theia.ico' %}" type="image/x-icon"> 

    <!-- html-head-scripts -->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src="{% static 'modernizr.min.js' %}"></script>

  </head>

  {% comment %}
  **TODO**
  <!--
  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} layout-{{ top-level-layout }}">
  -->
  {% endcomment %}
  <body class="layout-customer-account">
    <!-- for the scroll to top link -->
    <div id="top"></div>
    {% cms_toolbar %}

    <!-- facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- google plus -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- pinterest -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

    {% comment %}
    **TODO**
    {% include 'mobile-side-nav' %}
    {% endcomment %}

    <div class="container">

      <header class="site-header" role="banner">
        <div class="wrapper">

          <div class="logo-column">
            <h1 class="site-logo">
              <a href="/">
                <img src="{% static 'theia-logo.svg' %}" alt="" />
                <img src="{% static 'theia-logo.png' %}" alt="" />
              </a>
            </h1>
          </div>

          <div class="main-menu-column">
            <nav class="main-menu" role="navigation">
              <ul>
                <li><a class="main-menu-link" href="/collections">Collections</a></li>
                <li><a class="main-menu-link" href="/pages/about-us">About</a></li>
                <li><a class="main-menu-link" href="/pages/contact">Contact</a></li>
              </ul>
            </nav>
          </div>

          <div class="customer-menu-column">

            <nav class="customer-menu" role="navigation">
              <ul>
                <li class="side-menu-toggle-block">
                  <a id="sideNavToggle" class="customer-menu-link side-menu-toggle-link" href="#">
                    <span class="icon-menu"></span>
                  </a>
                </li>
              </ul>
            </nav>

          </div>

          <div class="search-column">

            <form action="/search" method="get" class="search-bar" role="search">

              {% comment %}
              Uncomment the following hidden input to only show products in your search results
              {% endcomment %}
              <input type="hidden" name="type" value="product">

              <button class="icon-fallback-text" type="submit">
                <span class="icon icon-search" aria-hidden="true"></span>
                <span class="fallback-text">Search</span>
              </button>
              <input type="search" name="q" value="" placeholder="Search for a dress here" aria-label="Search for a dress here">
            </form>

          </div>

        </div>
      </header>

      <main class="main-content" role="main">

        <div class="contact-page-hero">
          <div class="wrapper">
            <div class="content">

              <h2>Theia.</h2>
              <h3>In the spotlight.</h3>

            </div>
          </div>
        </div>

        <div class="customer-account-nav-row">
          <div class="wrapper">

            <div class="customer-account-menu-block">

              <nav class="customer-account-menu" role="navigation">
                <ul>
                  {% show_menu 0 2 100 100 "menu.tmpl.html" %}
                </ul>
              </nav>

            </div>

          </div>
        </div>

        <div class="customer-account-content-hero">
          <div class="wrapper-8-col">

            {% block page_header %}
              <h2>{% page_attribute "title" %}</h2>
            {% endblock %}

            {% block content %}
            {% endblock content %}

          </div>
        </div>

      </main>

      <footer class="site-footer" role="contentinfo">
        <div class="first-column">

          <nav class="meta-menu" role="navigation">
            <ul>
              <li><a class="meta-menu-link" href="/pages/about-us">About</a></li>
              <li><a class="meta-menu-link" href="/pages/privacy-policy">Privacy Policy</a></li>
              <li><a class="meta-menu-link" href="/pages/return-policy">Return Policy</a></li>
              <li><a class="meta-menu-link" href="/pages/terms-of-service">Terms of Service</a></li>
            </ul>
          </nav>

        </div>
        <div class="last-column">

          <nav class="language-menu" role="navigation">
            <ul>
              <li>
                <a data-scroll class="language-menu-link" href="#top">
                  Back to Top<span class="icon-arrow-up"></span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </footer>

    </div>

    {% render_block "js" %}

  </body>
</html>
