{% spaceless %}
  {% load cms_tags compress staticfiles sekizai_tags menu_tags %}
  
  {% comment %}Load CMS page data{% endcomment %}
  {% page_attribute "page_title" as page_title %}
  {% page_attribute "title" as title %}
  
{% endspaceless %}<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <!-- html-head-common -->
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Title and description ================================================== -->
    <title>{% spaceless %}
        {% block title %}
          {{ page_title }}
          {% comment %}
          <!-- **TODO** for the title tag generator from the Shopify theme. -->
          {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
          {% endcomment %}
        {% endblock %}
    {% endspaceless %}</title>

    <!-- Page meta ================================================== -->
    {% spaceless %}{% block meta %}
        {% page_attribute "meta_description" as meta_description %}
        {% if meta_description %}
          <meta name="description" content="{{ meta_description }}">
        {% endif %}
    {% endblock %}{% endspaceless %}

    <!-- Social tags ================================================ -->
    {% block open_graph %}
      {% include 'open_graph/required.tmpl.html' %}
    {% endblock %}
    
    {% comment %}
    <!-- **TODO** port these snippets to the press section from the Shopify templates. -->

    {% include 'twitter-card' %}    {% endcomment %}
    
    <!-- Helpers ================================================== -->
    {% comment %}
    <!-- **TODO** -->
    <link rel="canonical" href="{{ canonical_url }}">
    {% endcomment %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS ================================================== -->
    {% render_block "css" %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
    {% endcompress %}

    <link rel="shortcut icon" href="{% static 'theia.ico' %}" type="image/x-icon">

    <!-- html-head-scripts -->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src="{% static 'modernizr.min.js' %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-12670143-2', 'auto');
        ga('send', 'pageview');
    </script>    
    
    {% addtoblock 'js' %}
    <script>
        window.pageData = window.pageData || {};
        
        window.theiaSettings = {
            shopify: {
                shopUrl: '{{ shopify.shop_url }}',
                shopDomain: '{{ shopify.shop_domain }}'
            }
        };
    </script>
    <script src="{% static 'sprintf.min.js' %}"></script>
    <script src="{% static 'smooth-scroll.min.js' %}"></script>
    <script src="{% static 'headroom.min.js' %}"></script>
    <script src="{% static 'jQuery.headroom.min.js' %}"></script>
    <script src="{% static 'jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'handlebars.min.js' %}"></script>
    {% endaddtoblock %}
    
  </head>
  <body class="layout-main press-section{% if appname %} {{ appname }}-app{% endif %}{% if current_page.is_home %} press-homepage{% endif %}">
    {% include 'social-share-scripts.tmpl.html' %}
    {% include 'data-iframe.tmpl.html' %}

    <!-- for the scroll to top link -->
    <div id="top"></div>
    {% cms_toolbar %}

    <!-- facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- google plus -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- pinterest -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

    {% include 'mobile-side-nav.tmpl.html' %}
    
    <div data-headroom data-offset="160" id="header-container" class="header-container">
      
      {% include 'header.tmpl.html' %}
      
    </div>
    
    <div id="body-container" class="body-container">

      <main class="main-content" role="main">

        <div class="page-hero">
          <div class="wrapper">
            <div class="content">

              <h2>In the spotlight</h2>

            </div>
          </div>
        </div>

        <!-- **todo** rename this block to the press section side nav. -->
        <div class="secondary-nav-row">
          <div class="wrapper">

            <div class="secondary-nav-menu-block">

              <nav class="secondary-nav-menu" role="navigation">
                <ul>
                  {% show_menu 0 2 100 100 "menu.tmpl.html" %}
                </ul>
              </nav>

            </div>

          </div>
        </div>

        <div class="press-content-hero">
          {% block page_header %}
            <header class="press-content-header">
              <h2>{% page_attribute "title" %}</h2>
            </header>
          {% endblock %}
          {% block content %}
          {% endblock content %}
        </div>

      </main>
      
      {% include 'footer.tmpl.html' %}
      
    </div>

    {% render_block "js" %}
    
    {% compress js %}
    <script src="{{STATIC_URL}}main.js"></script>
    <script type="text/javascript">
        adroll_adv_id = "B4SB37UHTRA6JGJTIXKBS7";
        adroll_pix_id = "BI2Y2ECVGVAD5KO2DFGTF6";
        /* OPTIONAL: provide email to improve user identification */
        /* adroll_email = "username@example.com"; */
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                 document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
    </script>
    {% endcompress %}
    
    <!-- pinterest -->
    <!--
         http://stackoverflow.com/questions/9352021/how-can-i-rerender-pinterests-pin-it-button
         Allows initialization of pin buttons after page load using pinterestParsePinButtons()
         Optially pass an element to only parse it and children for pin buttons.
       -->
    <script defer async
            type="text/javascript"
            src="//assets.pinterest.com/js/pinit.js"
            data-pin-build="pinterestParsePinButtons"></script>
    
    <script type="text/template" id="loaderAnimationTemplate">
        <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        </div>
    </script>
    
  </body>
</html>
