{% load cms_tags compress staticfiles sekizai_tags menu_tags %}
<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <!-- html-head-common -->
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Title and description ================================================== -->
    <title>
      {% block title %}
        {% comment %}
        <!-- **TODO** for the title tag generator from the Shopify theme. -->
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        {% endcomment %}
      {% endblock title %}
    </title>

    {% comment %}
    <!-- **TODO** port this over -->
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% endcomment %}

    <!-- Product meta ================================================== -->
    {% comment %}
    <!-- **TODO** port these snippets to the press section from the Shopify templates. -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}
    {% endcomment %}

    <!-- Helpers ================================================== -->
    {% comment %}
    <!-- **TODO** -->
    <link rel="canonical" href="{{ canonical_url }}">
    {% endcomment %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS ================================================== -->
    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base.css" />
    {% endcompress %}

    <link rel="shortcut icon" href="{% static 'theia.ico' %}" type="image/x-icon">

    <!-- html-head-scripts -->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src="{% static 'modernizr.min.js' %}"></script>
    
  </head>
  <body class="layout-main press-section{% if appname %} {{ appname }}-app{% endif %}{% if current_page.is_home %} press-homepage{% endif %}">
    {% include 'social-share-scripts.tmpl.html' %}

    <!-- for the scroll to top link -->
    <div id="top"></div>
    {% cms_toolbar %}

    <!-- facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- google plus -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- pinterest -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

    {% include 'mobile-side-nav.tmpl.html' %}
    
    <div data-headroom data-offset="160" id="header-container" class="header-container">
      
      {% include 'header.tmpl.html' %}
      
    </div>
    
    <div id="body-container" class="body-container">

      <main class="main-content" role="main">

        <!-- **todo** rename this block -->
        <div class="contact-page-hero">
          <div class="wrapper">
            <div class="content">

              <h2>Theia.</h2>
              <h3>In the spotlight.</h3>

            </div>
          </div>
        </div>

        <!-- **todo** rename this block to the press section side nav. -->
        <div class="customer-account-nav-row">
          <div class="wrapper">

            <div class="customer-account-menu-block">

              <nav class="customer-account-menu" role="navigation">
                <ul>
                  {% show_menu 0 2 100 100 "menu.tmpl.html" %}
                </ul>
              </nav>

            </div>

          </div>
        </div>

        <div class="press-content-hero">
          {% block page_header %}
            <header class="press-content-header">
              <h2>{% page_attribute "title" %}</h2>
            </header>
          {% endblock %}
          {% block content %}
          {% endblock content %}
        </div>

      </main>
      
      {% include 'footer.tmpl.html' %}
      
    </div>

    {% compress js %}
    <script src="{% static 'smooth-scroll.min.js' %}"></script>
    <script src="{% static 'headroom.min.js' %}"></script>
    <script src="{% static 'jQuery.headroom.min.js' %}"></script>
    <script src="{% static 'jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    {% endcompress %}
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
    
    <script type="text/template" id="loaderAnimationTemplate">
        <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        </div>
    </script>
    
  </body>
</html>
