{% comment %}
TODO: Add the customer info to this link
{% endcomment %}
<a class="customer-menu-link customer-login-link" href="{{ shopify.shop_url }}account/login">
  <span class="label">Login</span>
</a>
<script id="customer-profile-link-template" type="text/x-handlebars-template">
  <a class="customer-menu-link customer-profile-link" href="{{ shopDomain }}/account">
    {% verbatim %}
      <img alt="{{avatarImageAlt}}" src="{{avatarImageSrc}}">
      <span class="label">{{customerFullName}}</span>
    {% endverbatim %}
  </a>
</script>
