{% load cms_tags compress staticfiles sekizai_tags menu_tags %}
<div id="top"></div>
<header class="site-header" role="banner">
  <div class="site-header-top-row">
    <div class="wrapper">

      <div class="site-message-column">
        <div class="site-message-block">
          <p>Boxing week sale on now! Up to 40% off select items. <a href="/collections/shop/sale">Shop Now!</a></p>
          <!-- <p>Free shipping and returns available on every order!</p> -->
        </div>
      </div>

      <div class="customer-secondary-menu-column">
        {% include 'customer-menu.tmpl.html' %}
        {% include 'secondary-menu.tmpl.html' %}
      </div>

    </div>
  </div>

  <div class="site-header-main-row">
    <div class="wrapper">

      <div class="mobile-cart-block">
        {% include 'mobile-cart-button.tmpl.html' %}
      </div>

      <div class="logo-column">
        <h1 class="site-logo">
          <a href="http://theiacouture.com/">
            <img src="{% static 'theia-logo.svg' %}" alt="" />
            <img src="{% static 'theia-logo.png' %}" alt="" />
          </a>
        </h1>
      </div>

      <div class="main-menu-column">
        {% include 'main-menu.tmpl.html' with mobile=False %}
      </div>

      <div class="search-column">
        {% include 'search-bar.tmpl.html' %}
      </div>

      <div class="mobile-ui-block">
        {% include 'mobile-ui-button.tmpl.html' %}
      </div>

    </div>
  </div>
</header>
