{% load menu_tags %}
<nav class="main-menu" role="navigation">
  <ul>
    {% if show_home_link %}
      <li><a class="main-menu-link" href="/">Home</a></li>
    {% endif %}
    <li><a class="main-menu-link" href="http://theia.myshopify.com/collections/shop/">Shop</a></li>
    <li><a class="main-menu-link" href="http://theia.myshopify.com/collections/bridal/">Bridal</a></li>
    <li><a class="main-menu-link js-has-sub-menu active" href="http://press.theiacouture.com/">Press</a>{% if mobile %}
      <ul class="sub-menu-mobile js-open">
        {% show_menu 0 2 100 100 "menu.tmpl.html" %}
      </ul>{% endif %}</li>
    <li><a class="main-menu-link" href="http://theia.myshopify.com/collections/collections/">Lookbook</a></li>
    <!-- **todo** show this if there are any items in the shop with the sale tag. -->
    <li><a class="main-menu-link" href="http://theia.myshopify.com/collections/shop/sale/">Sale</a></li>
  </ul>
</nav>
