{% extends "base.tmpl.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
  <div class="press-content-body">
    {% placeholder "content" %}
  </div>

  <div class="social-link-newsletter-hero">
    <div class="social-link-newsletter-column">

      <h2>Keep in touch</h2>

      {% include 'social-link-block.tmpl.html' %}

    </div>
    <div class="social-link-newsletter-column">

      {% include 'newsletter-signup-block.tmpl.html' %}

    </div>
  </div>
{% endblock content %}
