<ul class="pagination-block">
  {% if previous_url %}
    <li>
      <a href="{{ previous_url }}">
        <span>Prev<span class="hide-on-small">ious {{ verbose_name }}</span></span>
      </a>
    </li>
  {% else %}
    <li class="disabled">
      <span>Prev<span class="hide-on-small">ious {{ verbose_name }}</span></span>
    </li>
  {% endif %}

  {% if next_url %}
    <li>
      <a href="{{ next_url }}">
        <span>Next<span class="hide-on-small"> {{ verbose_name }}</span></span>
      </a>
    </li>
  {% else %}
    <li class="disabled">
      <span>Next<span class="hide-on-small"> {{ verbose_name }}</span></span>
    </li>
  {% endif %}
</ul>    

