<div class="social-link-block">
  <ul>
    <li>
      <a href="http://www.pinterest.com/THEIAprChick/">
        <div class="pinterest-icon"></div>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/THEIACOUTURE">
        <div class="twitter-icon"></div>
      </a>
    </li>
    <li>
      <a href="https://www.tumblr.com/tagged/theia-couture">
        <div class="tumblr-icon"></div>
      </a>
    </li>
    <li>
      <a href="http://instagram.com/theiacouture">
        <div class="instagram-icon"></div>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/THEIACOUTURE">
        <div class="facebook-icon"></div>
      </a>
    </li>
  </ul>
</div>
