<div class="share-buttons">
  <div class="fb-like" data-href="{{ share_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ share_url }}" data-via="THEIACOUTURE">Tweet</a>

  <div class="g-plusone" data-href="{{ share_url }}" data-size="medium" data-annotation="none"></div>

  <a href="//www.pinterest.com/pin/create/button/?url={{ share_url|urlencode:"" }}" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
</div>
