{% load cms_tags staticfiles sekizai_tags %}

<div class="celebrities-plugin-block">

  <h3>{{ instance.title }}</h3>

  {% if celebrities %}
    {% for celebrity in celebrities %}
      {% if forloop.first %}
        {% include 'celebrities/celebrities_plugin_summary_large.tmpl.html' with hide_max_medium=True %}
        {% include 'celebrities/celebrities_plugin_summary.tmpl.html' with hide_min_post_medium=True %}
      {% else %}
        {% include 'celebrities/celebrities_plugin_summary.tmpl.html' %}
      {% endif %}
    {% endfor %}

    <div class="button-row">
      <a class="button-view-all" href="{% url 'celebrities:index' %}">
        <span class="label">View All Celebrities</span>
        <span class="icon"></span>
      </a>
    </div>

  {% else %}
    <p>No celebrities are available.</p>
  {% endif %}

</div>
