{% extends "base.tmpl.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags thumbnail %}

{% block page_header %}
  <h2>{{ dress.title }}</h2>
  <h3>Worn by: <a href="{% url 'celebrities:celeb_detail' celebrity.slug %}">{{ celebrity.name }}</a></h3>
{% endblock %}

{% block content %}
  <div class="dress-block">
    {% thumbnail dress.main_image '768x576' as img %}
    <img src="{{  img.url }}" alt="" />
    {% endthumbnail %}

    {% render_placeholder dress.content %}

    <div class="celebrity-dresses-block">

      {% if dresses %}
        {% include 'celebrities/dress_list.tmpl.html' %}
      {% else %}
        <p>No dresses are available.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
