{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block page_header %}
<h2>{{ dress.title }}</h2>
<h3>Worn by: <a href="{% url 'celebrities:celeb_detail' celebrity.slug %}">{{ celebrity.name }}</a></h3>
{% endblock %}

{% block content %}
<div class="dress-block">
  {% render_placeholder dress.content %}

  <div class="celebrity-dresses-block">
    {% if dresses %}
    <h3>Other dresses worn by {{ celebrity.name }}</h3>

    <ul>
      {% for dress in dresses %}
      <li><a href="{% url 'celebrities:dress_detail' celebrity.slug dress.slug %}">{{ dress.title }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No dresses are available.</p>
    {% endif %}
    
  </div>
</div>
{% endblock %}
