{% load thumbnail %}
<div class="article-summary-block">
  <div class="article-summary-meta">
    <span class="article-summary-publication-date">
      {% if article.original_publication_date_label %}
        {{  article.original_publication_date_label }}
      {% else %}
        {{  article.original_publication_date }}
      {% endif %}
    </span>
    <span class="article-summary-organization-name">
      {% if article.organization_name %}
        {{ article.organization_name }}
      {% endif %}
    </span>
  </div>
  <div class="article-summary-image">
    <a href="{% url 'articles:detail' article.slug %}">
    {% thumbnail article.screenshot '352' as img %}
    <img src="{{  img.url }}" alt="" />
    {% endthumbnail %}
    </a>
  </div>
  <p>{{ article.excerpt }}</p>
  <a class="article-summary-read-more-link" href="{% url 'articles:detail' article.slug %}">Read more</a>  
</div>
