{% load thumbnail %}
<div class="article-summary-block">
  <h4>{{ article.title }}</h4>
  {% if article.original_publication_date %}
    {{  article.original_publication_date }}
  {% endif %}
  {% if article.organization_name %}
    {{ article.organization_name }}
  {% endif %}
  <div class="article-summary-image">
    <img src="{{  article.screenshot | thumbnail_url:'artical_summary' }}" alt="" />
  </div>
  <p>{{ article.excerpt }}</p>
  <a href="{% url 'articles:detail' article.slug %}">Read more</a>  
</div>
