{% load cms_tags staticfiles sekizai_tags %}

<div class="latest-articles-plugin-block">

  <h3>{{ instance.title }}</h3>

  {% if articles %}
    {% for article in articles %}
      {% if forloop.first %}
        {% include 'articles/latest_articles_plugin_summary_large.tmpl.html' %}
      {% else %}
        {% include 'articles/latest_articles_plugin_summary.tmpl.html' %}
      {% endif %}
    {% endfor %}

    <div class="button-row">
      <a class="button-view-all" href="{% url 'articles:index' %}">
        <span class="label">View All Articles</span>
        <span class="icon"></span>
      </a>
    </div>
  {% else %}
    <p>No articles are available.</p>
  {% endif %}

</div>
