{% extends "base.tmpl.html" %}
{% load staticfiles sekizai_tags pagination_tags embed_video_tags %}

{% block page_header %}
  <header class="press-content-header">
    <h2>{{ video.title }}</h2>
  </header>
{% endblock %}

{% block content %}

  <div class="press-content-body">

    <div class="video-detail-block">

      <div class="video-block">
        {% video video.video "100%x100%" %}
      </div>

      <div class="body-block">
        {% autoescape off %}
          {{ video.content }}
        {% endautoescape %}

        {% include 'social-share-buttons.tmpl.html' with share_url=current_url %}
      </div>

    </div>

  </div>

  <div class="wrapper-8-col">
    <div class="pagination-row">
      {% show_prev_next base_url=base_url %}
    </div>
  </div>

{% endblock %}
