{% extends "base.tmpl.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags pagination_tags %}

{% block content %}
  <div class="press-content-body">

    {% if current_page %}
      <div data-infinite-scroll class="videos-list-block" {% spaceless %}
           {% if has_next_page %}
           data-next-page-url="{{ base_url }}page/{{ next_page_number }}/"
           data-has-next-page="true"
           {% else %}
           data-has-next-page="false"
           {% endif %}
      {% endspaceless %}>
        {% for video in current_page %}
          {% include 'videos/video_summary.tmpl.html' %}
        {% endfor %}
      </div>

      <div class="spinner-block">
      </div>

      <div class="back-to-top-block">
        <a data-scroll data-options='{"offset": 110, "updateURL": false}' class="back-to-top-link" href="#top">Back to Top</a>
      </div>

      <div class="pagination-row">
        {% show_pager base_url=base_url %}
      </div>
    {% else %}
      <div class="error-no-events-found">
        <p>No videos are available.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
