{% load embed_video_tags %}
<div class="video-summary-block">
  <header class="header-block">
    <a href="{% url 'videos:detail' video.slug %}">
      <h3>
        {{ video.title }}
      </h3>
    </a>
  </header>
  <a href="{% url 'videos:detail' video.slug %}">
    <div class="video-block">
      {% video video.video "100%x100%" %}
    </div>
  </a>
  <div class="body-block">
    <p>{{ video.excerpt }}</p>
    <p><a class="more-info-link" href="{% url 'videos:detail' video.slug %}">More info</a></p>
  </div>
</div>
